{% extends "common.html" %} {% block content %}

{% include "admin_header.html" %}
<style>
  input:not([type="checkbox"]),
  textarea {
    display: block;
  }

  textarea {
    resize: none;
  }
</style>
<div>
  <form action="/admin/images" method="POST" enctype="multipart/form-data">
    <fieldset>
      <legend>New Image</legend>
      <div>
        <label for="image_name">Name:</label>
        <input id="image_name" type="text" placeholder="Name" name="name" />
      </div>
      <div>
        <label for="image_description">Description:</label>
        <textarea id="image_description" type="text" placeholder="A short description of the piece..."
          name="description" cols="80"></textarea>
      </div>
      <div>
        <label>Categories:</label>
        {% for category in categories %}
        <div>
          <input type="checkbox" id="c_{{category.id}}" name="category" value="{{category.id}}">
          <label for="c_{{category.id}}">{{category.name}}</label><br>
        </div>
        {% endfor %}
      </div>
      <div>
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*" />
      </div>
      <button type="submit">Submit</button>
    </fieldset>
  </form>
</div>
<hr />
<div>
  {% for image in images %}
  <div style="display:flex;flex-direction:row">
    <h3>{{image.name}}</h3>
    <div style="margin-left:15px">
      <form action="/admin/images/delete" method="POST">
        <input type="hidden" name="id" value="{{image.id}}" />
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  <div><em>{{image.description}}</em></div>
  <label>Categories:</label>
  <ul>
    {% for category in image.categories %}
    <li>{{category.name}}</li>
    {% endfor %}
  </ul>
  <img style="width: 400px;" src="/images/{{image.filename}}" />
  <hr />
  {% endfor %}
</div>
{% endblock content %}