{% extends "common.html" %} {% block content %}

{% include "admin_header.html" %}
<style>
    input:not([type="checkbox"]),
    textarea {
        display: block;
    }

    textarea {
        resize: none;
    }
</style>
<div>
    <form action="/admin/faq" method="POST">
        <fieldset>
            <legend>New FAQ</legend>
            <div>
                <label for="faq_question">Question:</label>
                <input id="faq_question" type="text" placeholder="Question" name="question" />
            </div>
            <div>
                <label for="faq_answer">Answer:</label>
                <textarea id="faq_answer" type="text" placeholder="Answer" name="answer"></textarea>
            </div>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <hr />
    <table>
        {% for faq in faqs %}
        <tr>
            <td>
                <strong>
                    {{faq.question}}
                </strong>
            </td>
            <td>
                {{faq.answer}}
            </td>
            <td>
                <form action="/admin/faq/delete" method="POST">
                    <input type="hidden" name="id" value="{{faq.id}}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}