---
import ShowcaseImage from '../components/ShowcaseImage.astro';

let title = 'Jinwon Kim';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
		@import "../styles/showcase.css";
	</style>

	<style>
	</style>
</head>
<body>
	<header>
		<div>
		Jinwon Kim
		</div>
		<nav>
			<a href="/">Home</a> | 
			<a href="/">Oils</a> |
			<a href="/">Watercolors</a> | 
			<a href="/">FAQ</a> | 
			<a href="/">About</a>
		</nav>
	</header>
	<main>
		<!-- <ShowcaseImage showcaseSrc="/assets/RoosterBoneInsect.jpg" /> -->
		<ShowcaseImage showcaseSrc="/assets/WinterInMichiganII.jpg" />
	</main>
</body>
</html>
