---
const {showcaseSrc, detailSrcs} = Astro.props;
---
<style>
.showcase {
    width: auto;
    height: 90vh;
}

.showcase-main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 140px);
}
@media only screen and (max-width: 600px) {
.showcase-main-container {
  flex-direction: column;
  width: 100%;
  }
}

.showcase-image-wrapper {
    flex-grow: 1;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.showcase-text {
    padding-left: 32px;
    min-width: 24em;
}

.showcase-title {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 32px;
}

.showcase-details {
    width: 200px;
    height: 200px;
}

</style>

<div class="showcase-main-container">
    <div class="showcase-image-wrapper" style={`background-image: url("${showcaseSrc}")`} role='img'/>

    <div class="showcase-text">
        <p class="showcase-title">Winter in Michigan II</p>
        <p>This picture has some bebbies in it.</p>
    </div>
</div >

<div class="showcase-details">
    {detailSrcs && detailSrcs.length > 0 && <div>
        {detailSrcs.map(src => (
            <img src={src} />
        ))}
    </div>}
</div>